<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aplikasi Penjadwalan | </title>

    <link href="~/bower_components/pnotify/dist/pnotify.css" rel="stylesheet" />
    <link href="~/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Bootstrap -->
    <!-- Font Awesome -->


    <style>
        .right_col {
            background-image: url('../../images/wp.jpg');
        }
       
    </style>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id=""><i class="fa fa-bars">Aplikasi</i></a>

                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class=""><a href="/Admin">Admin</a></li>
                        </ul>

                    </nav>
                </div>
            </div>
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <center>
                        <img style="width:180px; margin:15px" src="~/images/Logo_Lantamal_X_Armatim.png" />
                        Aplikasi Penjadwalan
                    </center>
                </div>
            </div>
            <div class="right_col" role="main">
                <!-- top tiles -->
                @RenderBody()
            </div>

            <!-- /footer content -->
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    <script src="~/assets/js/mainapp.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/bower_components/pnotify/dist/pnotify.js"></script>
    <link href="~/bower_components/pnotify/dist/pnotify.buttons.css" rel="stylesheet" />
    <script src="~/bower_components/pnotify/dist/pnotify.buttons.js"></script>
    <script src="~/bower_components/pnotify/dist/pnotify.confirm.js"></script>
    <!-- jQuery -->
</body>
</html>
